.card {
	
	margin:10px;
	margin-top:20px;
	margin-bottom:0px;
	border:1px solid rgba(150,150,150,0.3);
	border-radius:5px;

}

.card-head{
		
	height: 30px;
	line-height:30px;
	font-weight: 16px;
	padding-left: 10px;
	padding-right: 10px;
	border-bottom:1px solid rgba(150,150,150,0.3);
	font-weight: bold;

}


.card-body{
	
	padding-top:15px;
	padding: 10px;
	font-size:12px;

}